#dont upload users auto reply configuration to github
config/config.json
config/message.html
config/message.html.bak
ARCMessage.txt
ARCMessage.txt.bak
message.html
message.html.bak
AAOOF.xml
AAOOF.ps1.bak
